<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All the Villains</title>
</head>
<body>
  <h2>All of our Villains mwah haha!</h2>
  <% for (const villain of villains) { %>
    <a href="/villains/<%= villain.id %>">
      <h3><%= villain.villain %>(<%= villain.id %>)</h3>
    </a>
    <h3>From: <%= villain.movie %></h3>
  <% } %>
</body>
</html>
